apiVersion: apps/v1
kind: Deployment
metadata:
 name: project3-deployment
spec: 
 replicas: 2
 selector: 
  matchLabels: 
   app: project3
 template:
  metadata: 
   labels: 
    app: project3
  spec: 
   containers: 
   - name: project3-container
     image: uzairchini/project4-app:latest
     imagePullPolicy: Never
     ports: 
     - containerPort: 8000
