apiVersion: apps/v1
kind: Deployment 
metadata: 
 name: project4-deployment 
 labels: 
  app: project4-app
spec: 
 replicas: 2
 selector:
  matchLabels: 
   app: project4-app
 template: 
  metadata:
   labels:
    app: project4-app
  spec: 
   containers:
   - name: project4-app
     image:  uzairchini/project4-app:76f4f6ce7fb0c1569ca83d42658ddaee6a6caab9
     ports:
     - containerPort: 8000
     resources: 
      requests:
       cpu: "250m"
       memory: "256Mi"
      limits: 
       cpu: "500m"
       memory: "512Mi"
     livenessProbe: 
      httpGet:
       path: /health
       port: 8000
      initialDelaySeconds: 15
      periodSeconds: 10
      failureThreshold: 3
      successThreshold: 1
     readinessProbe: 
      httpGet:
       path: /health
       port: 8000
      initialDelaySeconds: 10
      periodSeconds: 5
      failureThreshold: 3
      successThreshold: 1
     startupProbe: 
      httpGet: 
       path: /health
       port: 8000
      failureThreshold: 30
      periodSeconds: 10
      successThreshold: 1

---

apiVersion: v1
kind: Service
metadata: 
 name: project4-service
spec: 
 selector: 
  app: project4-app
 ports: 
 - protocol: TCP
   port: 80
   targetPort: 8000
 type: LoadBalancer
     
