name: CI/CD Pipeline
on:
 push:
  branches:
  - main
jobs:
 build:
  runs-on: ubuntu-latest
  steps:
  - name: Checkout Code
    uses: actions/checkout@v4
  - name: Login to DockerHub
    uses: docker/login-action@v3
    with: 
     username: ${{ secrets.DOCKERHUB_USERNAME }}
     password: ${{ secrets.DOCKERHUB_TOKEN }}
  - name: Build Docker Image
    run: docker buildx build --load -t ${{ secrets.DOCKERHUB_USERNAME }}/project4-app:latest .
  - name: Push Docker Image
    run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/project4-app:latest
