name: Docker CI
on: 
 push: 
  branches: [ main ]
jobs: 
 build: 
  runs-on: ubuntu-latest
  steps: 
  - name: Checkout Code 
    uses: actions/checkout@v4
  - name: Login DockerHub
    uses: docker/login-action@v3
    with: 
     username: ${{ secrets.DOCKERHUB_USERNAME }}
     password: ${{ secrets.DOCKERHUB_TOKEN }}
  - name: Build and Push Image
    uses: docker/build-push-action@v5
    with: 
     context: .
     push: true
     tags: ${{ secrets.DOCKERHUB_USERNAME }}/project4-app:latest
 deploy: 
  needs: build
  runs-on: ubuntu-latest
  steps:
  - uses: actions/checkout@v4
  - name: Configure AWS Credentials
    uses: aws-actions/configure-aws-credentials@v3
    with: 
     aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
     aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
     aws-region: ${{ secrets.AWS_REGION }}
  - name: Update Kubeconfig
    run: |
     aws eks update-kubeconfig --name ${{ secrets.EKS_CLUSTER_NAME }} --region ${{ secrets.AWS_REGION }}
  - name: Deploy to EKS 
    run: |
     kubectl set image deployment/project4-deployment project4-container=${{ secrets.DOCKERHUB_USERNAME }}/project4-app:latest
     kubectl rollout status deployment/project4-deployment
