name: CI/CD Pipeline
on:
 push:
  branches:
  - main
jobs:
 build:
  runs-on: ubuntu-latest
  steps:
  - name: Checkout Code
    uses: actions/checkout@v4
  - name: Debug - Show current directory
    run: |
     pwd 
     ls -la
  - name: Set up Docker Buildx 
    uses: docker/setup-buildx-action@v3
  - name: Login to Docker Hub
    uses: docker/login-action@v3
    with: 
     username: ${{ secrets.DOCKERHUB_USERNAME }}
     password: ${{ secrets.DOCKERHUB_TOKEN }}
  - name: Build Docker Image
    run: docker build -f ./Dockerfile -t ${{ secrets.DOCKERHUB_USERNAME}}/project4-app:latest ./
  - name: Push Docker Image
    run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/project4-app:latest
